*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#title{
  font-weight: 700;
  background: linear-gradient(90deg, #5782ec,#8a75d0, #1e3a8a, #9333ea, #d0657a);    
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  border-image: linear-gradient(90deg, #4a90e2, #8e44ad, #e74c3c) 1;
}
